In [1]:
import numpy as np
import pandas as pd

In [2]:
balance_data=pd.read_csv(r"Decision_Tree_ Dataset.csv")

In [3]:
balance_data.shape

(1000, 6)

In [4]:
balance_data.head()

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [5]:
balance_data.columns

Index(['1', '2', '3', '4', 'sum', 'Unnamed: 5'], dtype='object')

In [6]:
balance_data.head()

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [7]:
balance_data=balance_data.rename(columns={'1':'initial_payment', '2':'last_payment', '3':'credit_score', '4':'house_number', 'Unnamed: 5':'result'})

In [8]:
x=balance_data[['initial_payment', 'last_payment', 'credit_score', 'house_number']]
y=balance_data['result']

In [9]:
balance_data['result'].value_counts()

No     521
yes    479
Name: result, dtype: int64

In [10]:
balance_data['result']=balance_data['result'].str.lower()

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
dtc=DecisionTreeClassifier().fit(x_train, y_train)

In [16]:
y_pred=dtc.predict(x_test)

In [21]:
dtc.score(x_test, y_test)

0.932